.register {
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(
    rgba(255, 255, 255, 0.5), 
    rgba(255, 255, 255, 0.5)
    ),
    url("https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg");
    background-size: cover;
}

.registerTitle {
    font-size: 50px;
}

.registerForm {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}

.registerForm > label {
    margin: 10px 0;
}

.registerInput {
    padding: 10px;
    background-color: white;
    border: none;
}

.registerButton {
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
    background-color: teal;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
}

.registerLoginButton {
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: #1395ff;
    cursor: pointer;
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    border-radius: 10px;
}