.post {
    display: flex;
    width: 100;
    margin: 10px 25px 40px 25px;
}

.postImg {
    width: 220px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}
.postInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: baseline;
}

.postCat {
    font-family: 'Varela Round', sans-serif;
    font-size: 12px;
    color: #be9656;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.postTitle {
    font-family: 'Josefin Sans', sans-serif;
    width: 100;
    font-size: 24px;
    margin-left: 15px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.postDesc {
    font-family: 'Lora', serif;
    font-style: italic;
    font-size: 13px;
    color: #999;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}